@import "@scss/utils/mq";

.layout {
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: var(--size-6);
  padding-bottom: var(--size-8);
  overflow: hidden;
}

.main-area {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  background: white;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.side-area {
  flex-shrink: 0;
  width: 300px;
  overflow: auto;
  border: var(--size-1) solid var(--c-black);
  z-index: 2;
}

@include from-sm {
  .layout {
    flex-direction: row;
    height: calc(100vh - var(--size-8));
    padding-bottom: 0;
  }

  .side-area {
    border: none;
  }
}

@include from-lg {
  .main-area {
    width: 100%;
    height: 100%;
  }

  .side-area {
    height: 100%;
  }
}
