.home-page {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--theme-color-white);
}

.nav-container {
  position: relative;
  box-sizing: border-box;
  padding: 50px;
  width: 800px;
  flex-shrink: 0;
  perspective: 500px;
  z-index: 2;
  height: fit-content;
  margin-top: calc(10vh + 18vw);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 60px;
    right: 15%;
    height: 100%;
    background-color: var(--theme-color-black);
    z-index: -1;
    transform: skewY(2deg);
    opacity: 0.9;
  }
}

.nav {
  box-sizing: border-box;
  display: block;
  margin-top: 16px;
  padding: 0 20px;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: var(--theme-color-black);
  text-decoration: none;
  background-color: var(--theme-color-main2);

  &:hover {
    background-color: var(--theme-color-main1);
  }

  &:nth-child(5n - 4) {
    transform: skewX(-20deg);
    margin-left: -10px;
    padding-left: 50px;
  }

  &:nth-child(5n - 3) {
    border-radius: 0 0 100% 0;
    font-size: 20px;
    transform: rotate(1deg);
    margin-top: 15px;
  }

  &:nth-child(5n - 2) {
    transform: rotateX(0deg) rotateY(346deg);
    transform-style: preserve-3d;
    letter-spacing: 10px;
    margin-top: 8px;
  }

  &:nth-child(5n - 1) {
    border-radius: 30px;
    transform: scaleX(0.84);
    padding-left: 30px;
  }

  &:nth-child(5n) {
    border-radius: 0 27% 0 8%;
    transform: scaleY(1.2);
  }
}