.layout {
  box-sizing: border-box;
  width: 100%;
  padding-top: var(--size-6);
  padding-bottom: var(--size-8);
  overflow: hidden;
}

.main-area {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  background: white;
}