@import "@scss/utils/mq";

.item {
  width: var(--size-11);
  margin-top: var(--size-6);
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-title {
  font-size: var(--size-6);
}

.item-description {
  margin-top: var(--size-4);
  font-size: var(--size-5);
  opacity: 0.6;
}

.item-button {
  display: flex;
  flex-shrink: 0;
  width: var(--size-8);
  height: var(--size-8);
  margin-left: var(--size-4);
  color: inherit;

  svg {
    width: 100%;
    height: 100%;
  }
}

@include from-sm {
  .item {
    margin-top: var(--size-7);
    width: var(--size-12);
  }

  .item-title {
    font-size: var(--size-7);
  }
}

@include from-lg {
  .item {
    width: var(--size-13);
  }

  .item-description {
    font-size: var(--size-6);
  }
}