:root {
  --c-white: #FFFFFF;
  --c-red: #D50000;
  --c-pink: #C51162;
  --c-purple: #AA00FF;
  --c-deep-purple: #6200EA;
  --c-indigo: #304FFE;
  --c-blue: #2962FF;
  --c-light-blue: #0091EA;
  --c-cyan: #00B8D4;
  --c-teal: #00BFA5;
  --c-green: #00C853;
  --c-light-green: #64DD17;
  --c-lime: #AEEA00;
  --c-yellow: #FFD600;
  --c-amber: #FFAB00;
  --c-orange: #FF6D00;
  --c-deep-orange: #DD2C00;
  --c-blue-gray: #263238;
  --c-brown: #3E2723;
  --c-gray: #212121;
  --c-black: #000000;
}