:root {
  --size-1: 2px;
  --size-2: 3px;
  --size-3: 5px;
  --size-4: 8px;
  --size-5: 13px;
  --size-6: 21px;
  --size-7: 34px;
  --size-8: 55px;
  --size-9: 89px;
  --size-10: 144px;
  --size-11: 233px;
  --size-12: 377px;
  --size-13: 610px;
  --size-14: 987px;
  --size-15: 1597px;
  --size-16: 2584px;
  --size-17: 4181px;
  --size-18: 6765px;
  --size-19: 10946px;
  --size-20: 17711px;

  --size-3-1: 7px;
  --size-4-1: 11px;
  --size-5-1: 18px;
  --size-6-1: 29px;
  --size-7-1: 47px;
  --size-8-1: 76px;
  --size-9-1: 123px;
  --size-10-1: 199px;
  --size-11-1: 322px;
  --size-12-1: 521px;
  --size-13-1: 843px;
  --size-14-1: 1364px;
  --size-15-1: 2207px;
  --size-16-1: 3571px;
  --size-17-1: 5778px;
  --size-18-1: 9349px;
  --size-19-1: 15127px;
}