@import "@scss/utils/mq";

.header {
  height: var(--size-8);

  &.active {
    height: auto;
    background: var(--c-black);

    .title {
      color: var(--c-white);
    }

    .title-arrow {
      transform: rotate(90deg);
    }

    .nav {
      display: flex;
    }
  }
}

.burger-line {
  display: flex;
  align-items: center;
  height: var(--size-8);
}

.title {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: var(--c-black);
}

.title-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-8);
  height: var(--size-8);
  font-size: var(--size-6);
}

.title-text {
  padding-top: var(--size-3);
  font-size: var(--size-6);
  font-family: "Gordita Regular";
}

.nav {
  display: none; // flex
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-bottom: var(--size-8);
  background-color: var(--c-black);
}

.nav-item {
  display: block;
  text-decoration: none;
  flex-shrink: 0;
  margin-top: var(--size-7);
  font-size: var(--size-6);
  color: var(--c-white);
  font-family: "Gordita Regular";
}

.nav-subitem {
  display: none;
}

@include from-lg {
  .header {
    height: auto;
    border: none;
  }

  .burger-line {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    height: var(--size-8);
    padding: 0;
    background: var(--c-white);
  }

  .nav-item {
    position: relative;
    margin: 0;
    font-size: var(--size-6);
    color: var(--c-black);
  }

  .nav-subitem {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: var(--size-5);
    color: var(--c-gray);
    width: 100vw;
  }

  .active-nav-item {
    position: relative;

    &::after {
      content: ">";
      position: absolute;
      right: calc(100% + 8px);
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

